/* Default theme colors */
:root {
  --background-color: #fff;
  --sidebar-color: #0f3460;
  --topcontent-bottom-border-color: #eee;
  --main-task-color: #0d1024;
  --todo-container-color: #3f5d80;
  --todo-container-bottom-border: #4b5057;
  --font-color: #e7ebef;

  --support-svg-icon: url('/src/assets/icons/chatbubbles-sharp.svg');
  --checkmark-svg-icon: url('/src/assets/icons/checkmark-outline.svg');
  --home-svg-icon: url('/src/assets/icons/home-sharp.svg');
  --profile-svg-icon: url('/src/assets/icons/person-circle-dark.svg');
  --profile-sidebar-svg-icon: url('/src/assets/icons/person-circle-sharp.svg');
  --search-svg-icon: url('/src/assets/icons/search-sharp-light.svg');
  --settings-svg-icon: url('/src/assets/icons/settings-sharp.svg');
  --favorites-svg-icon: url('/src/assets/icons/star-sharp.svg');
  --day-night-svg-icon: url('/src/assets/icons/sunny-sharp.svg');
}
/* 
colors 
#16213E
#0F3460
#533483
#E94560
*/

/* Dark theme colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(14, 18, 40);
    --main-task-color: #cfd6df;
    --profile-svg-icon: url('/src/assets/icons/person-circle-sharp.svg');
    --search-svg-icon: url('/src/assets/icons/search-sharp.svg');
    --day-night-svg-icon: url('/src/assets/icons/moon-sharp.svg');
  }
}

html {
  /* background-color: rgb(14, 18, 40); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  display: grid;
  grid-template-areas:
    'sb tc tc'
    'sb mc ec'
    'sb mc ec';
  grid-template-rows: 1.5fr 6fr;
  grid-template-columns: 0.5fr 10fr 2.5fr;

  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
}

.sidebar {
  grid-area: sb;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--sidebar-color);
}

.icon:first-child {
  margin-top: 2rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
}

.home-icon {
  background-image: var(--home-svg-icon);
}

.checkmark-icon {
  background-image: var(--checkmark-svg-icon);
}

.favorites-icon {
  background-image: var(--favorites-svg-icon);
}

.profile-icon {
  background-image: var(--profile-sidebar-svg-icon);
}

.support-icon {
  background-image: var(--support-svg-icon);
}

.settings-icon {
  background-image: var(--settings-svg-icon);
}

.day-night-icon {
  background-image: var(--day-night-svg-icon);
}

.profile-search {
  grid-area: tc;
  display: flex;

  padding: 0 1.25rem;
  border-bottom: var(--topcontent-bottom-border-color) solid 1px;
}

.top-left-C {
  display: flex;
  align-items: flex-end;
  flex-grow: 8;
  padding: 2rem 0;
}

.title-tab {
  color: var(--main-task-color);
  font-size: 2rem;
}

.top-right-C {
  flex-grow: 1;

  display: grid;
  grid-template-areas:
    'search profile'
    'todoButton todoButton';

  padding: 0rem 0 2rem 0;
}

.search-icon {
  grid-area: search;
  align-self: center;
  justify-self: end;
  margin-right: 1rem;

  margin-top: 0 !important;
  background-image: var(--search-svg-icon);
}

.user-profile {
  grid-area: profile;
  align-self: center;

  background-image: var(--profile-svg-icon);
  height: 4rem;
  width: 4rem;
}

.todo-button {
  grid-area: todoButton;
  align-self: end;
  justify-self: center;

  border-radius: 4000px;
  border: none;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
}

.todo-info {
  grid-area: mc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  padding: 2rem 0;
  border-right: var(--topcontent-bottom-border-color) solid 1px;
}

.todo-container {
  width: 100%;
  height: 12rem;
  border-bottom: var(--topcontent-bottom-border-color) solid 1px;
}
.todo-item {
}

.extra-info {
  grid-area: ec;
}
