/* Default theme colors */
:root {
  --background-color: #fff;
  --sidebar-color: #0f3460;
  --topcontent-bottom-border-color: #eee;
  --support-svg-icon: url('/src/assets/icons/chatbubbles-sharp.svg');
  --checkmark-svg-icon: url('/src/assets/icons/checkmark-outline.svg');
  --home-svg-icon: url('/src/assets/icons/home-sharp.svg');
  --night-svg-icon: url('/src/assets/icons/moon-sharp.svg');
  --profile-svg-icon: url('/src/assets/icons/person-circle-sharp.svg');
  --search-svg-icon: url('/src/assets/icons/search-sharp.svg');
  --settings-svg-icon: url('/src/assets/icons/settings-sharp.svg');
  --favorites-svg-icon: url('/src/assets/icons/star-sharp.svg');
  --day-svg-icon: url('/src/assets/icons/sunny-sharp.svg');
}
/* 
colors 
#16213E
#0F3460
#533483
#E94560
*/

/* Dark theme colors */
:root.dark {
  --background-color: rgb(14, 18, 40);
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  :root {
    --background-color: rgb(14, 18, 40);
    --logo-colors: rgb(245, 102, 0);
  }
  /* Override dark mode with light mode styles if the user decides to swap */
  :root.light {
    --background-color: #fff;
    --sidebar-color: #0f3460;
    --topcontent-bottom-border-color: #eee;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #545454;
}

.container {
  display: grid;
  grid-template-areas:
    'sb tc tc'
    'sb mc ec'
    'sb mc ec';
  grid-template-rows: 2fr 6fr;
  grid-template-columns: 0.5fr 10fr;

  background-color: var(--background-color);
  max-width: 120rem;
  height: 100vh;
}

.sidebar {
  grid-area: sb;
  background-color: var(--sidebar-color);
}

.icon {
  width: 2rem;
  height: 2rem;
}

.home-icon {
  background-image: var(--home-svg-icon);
}
.checkmark-icon {
  background-image: var(--checkmark-svg-icon);
}
.favorites-icon {
  background-image: var(--favorites-svg-icon);
}
.profile-icon {
  background-image: var(--profile-svg-icon);
}
.support-icon {
  background-image: var(--support-svg-icon);
}
.settings-icon {
  background-image: var(--settings-svg-icon);
}
.day-night-icon {
  background-image: var(--day-svg-icon);
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  .day-night-icon {
    background-image: var(--night-svg-icon);
  }
  /* Override dark mode with light mode styles if the user decides to swap */
}

.profile-search {
  grid-area: tc;
  border-bottom: var(--topcontent-bottom-border-color) solid 1px;
}

.todo-info {
  grid-area: mc;
}

.extra-info {
  grid-area: ec;
}
