/* Default theme colors */
:root {
  --background-color: #fff;
  --sidebar-color: #0f3460;
  --topcontent-bottom-border-color: #eee;
  --main-task-color: #0d1024;
  --todo-container-color: #3f5d80;
  --todo-container-bottom-border: #4b5057;
  --font-color: #0e2f56;
  --todo-form-color: #0f3460;

  --support-svg-icon: url('/src/assets/icons/chatbubbles-sharp.svg');
  --checkmark-svg-icon: url('/src/assets/icons/checkmark-outline.svg');
  --home-svg-icon: url('/src/assets/icons/home-sharp.svg');
  --profile-svg-icon: url('/src/assets/icons/person-circle-dark.svg');
  --profile-sidebar-svg-icon: url('/src/assets/icons/person-circle-sharp.svg');
  --search-svg-icon: url('/src/assets/icons/search-sharp-light.svg');
  --settings-svg-icon: url('/src/assets/icons/settings-sharp.svg');
  --favorites-svg-icon: url('/src/assets/icons/star-sharp.svg');
  --day-night-svg-icon: url('/src/assets/icons/sunny-sharp.svg');
}
/* 
colors 
#16213E
#0F3460
#533483
#E94560
*/

/* Dark theme colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(14, 18, 40);
    --main-task-color: #cfd6df;
    --font-color: #cfd6df;
    --todo-form-color: #0e2f56;

    --profile-svg-icon: url('/src/assets/icons/person-circle-sharp.svg');
    --search-svg-icon: url('/src/assets/icons/search-sharp.svg');
    --day-night-svg-icon: url('/src/assets/icons/moon-sharp.svg');
  }
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_slnt\,wght.ttf');

  font-weight: 600;
}

@font-face {
  font-family: 'Inter-bold';
  src: url('./fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Inter-light';
  src: url('./fonts/Inter-Light.ttf');
}

html {
  /* background-color: rgb(14, 18, 40); */
}

body {
  font-family: 'Inter';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  display: grid;
  grid-template-areas:
    'sb tc'
    'sb mc'
    'sb mc';
  grid-template-rows: 1.5fr 6fr;
  grid-template-columns: 0.5fr 10fr;

  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  position: relative;
}

.side-bar {
  grid-area: sb;
}

.header {
  grid-area: tc;
}

.main-content {
  grid-area: mc;
}

.image {
  background: url('./icons/moon-sharp.svg');
}

.hide {
  display: none !important;
}
