:root {
  --main-container-color: #160e2e;
  --sidebar-color: #7048e8; /* main color*/
  --todo-container-color: #f3f0ff;
  --font-color: #221646;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-container-color: #f3f0ff;
    --sidebar-color: #4e32a2;
    --todo-container-color: #221646;
    --font-color: #d4c8f8;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf')
    format('truetype');

  font-weight: 500;
}

@font-face {
  font-family: 'Inter-bold';
  src: url('./assets/fonts/Inter/static/Inter-ExtraBold.ttf') format('truetype');

  /* font-weight: 600; */
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('./assets/fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

html {
  /* background-color: var(--sidebar-color); */
}

body {
  font-family: 'Inter';
  font-size: 4rem;
  /* font-family: 'Libre Franklin'; */
  color: var(--font-color);
}

.container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:
    'lg hd'
    'sb mc';
  gap: 1px;

  /* background-color: var(--main-container-color); */
  background-color: rgb(137, 137, 137);
  max-width: 100vw;
  height: 100vh;
}

.logo {
  grid-area: lg;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--sidebar-color);
}

.logo-text {
  font-family: 'Inter-bold';
  font-size: 2rem;
}

.header {
  grid-area: hd;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--todo-container-color);
}

.first-child {
}

.second-child {
}

.sidebar {
  grid-area: sb;

  background-color: var(--sidebar-color);
}

.main-content {
  grid-area: mc;
  background-color: var(--todo-container-color);
}
