:root {
  --header-color: #4f6bdf;
  --sidebar-color: #d8def8; /* main color*/
  --todo-container-color: #f5f7fd;
  --font-color: #221646;
  --light-dark-mode-icon: url('./assets/svgs/contrast-outline.svg');
  --form-background-color: #b9c4f2;
  --form-text-color: #221646;
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-color: #617ae2;
    --sidebar-color: #8d9cd5; /* main color*/
    --todo-container-color: #6e79a6;
    --font-color: #382d59;
    --light-dark-mode-icon: url('./assets/svgs/contrast.svg');
    --form-background-color: #4f6bdf;
    --form-text-color: #ffffff;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf')
    format('truetype');

  font-weight: 500;
}

@font-face {
  font-family: 'Inter-bold';
  src: url('./assets/fonts/Inter/static/Inter-ExtraBold.ttf') format('truetype');

  /* font-weight: 600; */
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('./assets/fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin-bold';
  src: url('./assets/fonts/Libre_Franklin/static/LibreFranklin-Bold.ttf')
    format('truetype');
  /* font-weight: 500; */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

html {
  /* background-color: var(--sidebar-color); */
}

body {
  font-family: 'Inter';
  font-size: 4rem;
  /* font-family: 'Libre Franklin'; */
  color: var(--font-color);
  position: relative;
}

.hidden {
  display: none !important;
}

.container {
  display: grid;
  grid-template-columns: 1.5fr 8fr;
  grid-template-rows: 1fr 12fr;
  grid-template-areas:
    'header header'
    'sidebar main-content';

  /* background-color: var(--main-container-color); */
  max-width: 100vw;
  height: 100vh;
}

.header {
  grid-area: header;
  display: flex;
  background-color: var(--header-color);
  padding: 0 6rem;
}

.header-child {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-start;
  align-self: center;
}

.hamburger-menu-svg {
  height: 3rem;
  width: 3rem;
}

.add-btn-container {
  justify-content: flex-end;
}

/* From uiverse.io by @mrhyddenn */
.icon-btn {
  width: 5rem;
  height: 5rem;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: 'Libre Franklin';
  font-size: 2rem;
  margin: 1rem 0;
}

.add-btn:hover {
  width: 120px;
  cursor: pointer;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: '';
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: #221646;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: '';
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: #221646;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/* -----------ADD BUTTON STYLE ENDS----------- */
.sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-color);
}

.svg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 4rem;
}

.sidebar-svg-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
}

.sidebar-svg-container:hover {
  background-color: #4e456b;
  color: white;
  cursor: pointer;
}

.light-dark-mode-container {
  display: flex;
  /* justify-content: center; */
}

.sidebar-svg {
  width: 3rem;
  height: 3rem;
  margin-left: 6rem;
}

.svg-text {
  align-self: center;
  font-size: 1.5rem;
  margin-right: auto;
}

/* Light Dark mode svg */
.light-dark-mode-svg {
  background-image: var(--light-dark-mode-icon);
}

.todo-container {
  grid-area: main-content;
  display: flex;
  flex-direction: column;
  background-color: var(--todo-container-color);
  overflow-y: auto;
}

.single-todo-item-container {
  display: flex;
  flex-grow: 0;

  height: 4rem;
  width: 100%;
  padding: 1rem 0;
  font-size: 2.5rem;
  border-bottom: 0.5px solid #182043;
  font-family: 'Libre Franklin';
}

.td-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkBox-container {
  flex-grow: 0;
  margin: 0 2rem;
}

#checkbox {
  align-self: center;
}

.main-info-container {
  padding-left: 2rem;
}

.todo-Title {
  font-size: 2rem;
  font-family: 'Libre Franklin-bold';
}

.date {
  align-items: flex-end;
  font-size: 1.2rem;
  margin-right: 2rem;
}

/* ----------------------FORM INFO-------------------------- */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  /* height: 60%; */
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--form-background-color);
  color: var(--form-text-color);
  border-radius: 8px;
  box-shadow: 1px 4px 10px 1px rgba(82, 82, 82, 0.813);
}

.form-title {
  padding-top: 2rem;
  font-size: 2.5rem;
  font-family: 'Libre Franklin-bold';
}

.todo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* font: inherit; */
  font-family: 'Libre Franklin-bold', 'Inter';
  font-size: 2rem;
  padding: 2rem 0;
}

textarea {
  resize: none;
  padding-top: 0.5rem;
}

input {
}

.inpt {
  border-radius: 4px;
  border: none;
  font-family: 'Libre Franklin';
  padding-left: 1rem;
}
